# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos creados por PyCharm
.idea/
*.iml

# Archivos de entorno virtual
venv/
env/
ENV/
.venv/
.env/

# Cachés y logs
*.log
.cache/
*.sqlite3

# Configuraciones de sistema
.DS_Store
Thumbs.db

# Archivos de pruebas y temporales
*.pytest_cache/
.pytest_cache/

# Archivos de bases de datos
*.db
*.sqlite3

# Configuraciones locales
*.env
